{block content}

<p style="text-align: left;">
    <h2>Objednávkový košík</h2>
    <span style="float:right;color: red;">
        <a onclick="return confirm('Opravdu si přejete vyprázdnit košík ?');" n:href="Basket:empty" style="color: red">Vyprázdnit košík</a>
	</span>
</p>

{control basketGrid}