<!DOCTYPE html>
<html xmlns:style="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}EdShop</title>
</head>

<body>
	{php $start_time=microtime(true)}
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	<style>
		header { background-color: silver;height: 50px}

		nav { background-color: lightgray;float:left;}

		ul {
			list-style-type: none;
			margin: 0px;
			padding: 0px;
			width : 200px;
			float:left;
			background-color: #f1f1f1;
			height: 100%; /* Full height */
			position: fixed; /* Make it stick, even on scroll */
			overflow: auto; /* Enable scrolling if the sidenav has too much content */
		}

		footer {
			position:absolute;
			bottom:0;
			width:99%;
			height:60px;   /* Height of the footer */
			background-color: #eaeaea;
		}

		.cat_td {
			background-color: aliceblue;
			padding: 5px;
		}

		.cat_td_com {
			background-color: ghostwhite;
			padding: 5px;
		}



	</style>

	<header>
		<p style="text-align: left;font-size: 28px;text-shadow: 3px 3px darkgray"><a style="text-decoration: none;color : black" n:href="Homepage:">EdShop</a>
			<span style="float:right;font-size: 14px;text-shadow:none ">Login/<a n:href="Registration:new">Registrace</a></span><br>
			<span style="float:right;font-size: 14px;text-shadow:none ">Přihlášen : ----------</span>
		</p>

	</header>

	<nav>
		<div style="float:left; width: 200px;background-color: #f0f0f0;">
		<br>Kategorie :<br><br>
		<ul>
			<li>Kategorie 1</li>
			<li>Kategorie 2</li>
			<li>Kategorie 3</li>
			<li>Kategorie 4</li>
			<li>Kategorie 5</li>
			<li>Kategorie 6</li>
		</ul>
		</div>
	</nav>

	<div style="margin-left:210px">
	{include content}
	</div>

	<footer>
		{php $stop_time=microtime(true)}
		<p style="color:silver" align="right">Created on 2019, generated in {php echo sprintf('%f',round(($stop_time - $start_time),5))." sec"}</p>
	</footer>

	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}
</body>
</html>
