<!DOCTYPE html>
<html xmlns:style="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}EdShop</title>
	<link rel="stylesheet" type="text/css" href="{$basePath}/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/style.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <link href="{$basePath}/js/select2/dist/css/select2.css" rel="stylesheet" />

	<script src="{$basePath}/js/select2/dist/js/select2.full.min.js"></script>

	<script src="{$basePath}/js/nette.ajax.js/nette.ajax.js"></script>
	<script src="{$basePath}/js/datagrid/datagrid.js"></script>


	<link rel="shortcut icon" href="#">

	<script>
		function showPopupMenu(elementNum, categoryId){
			var showMenu = 0;
			if(typeof elementNum != 'undefined' && typeof categoryId != 'undefined') {

				var menuContent = '';

				switch (categoryId) {
					{foreach $categories as $category}
					{ifset $par_category[$category[id]]}
					case {$category[id]}:
						showMenu = 1;
					{foreach $par_category[$category[id]] as $parCatObj}
						{if isset($categoryId) && $parCatObj->getId() == $categoryId}
							menuContent+='<li><a class="actualChoice" href="' + {$basePath} + '/homepage/products?categoryId=' + {$parCatObj->getId()} + '">{php echo $parCatObj->getName()}</a></li>';
						{else}
							menuContent+='<li><a href="' + {$basePath} + '/homepage/products?categoryId=' + {$parCatObj->getId()} + '">{php echo $parCatObj->getName()}</a></li>';
						{/if}
					{/foreach}
						break;
					{/ifset}
						{/foreach}
				}

				var newTopPosition = 70 + elementNum * 41;
				document.getElementById("popup-menu").style.top = 70 + elementNum * 41 + 'px';
				document.getElementById("popup-menu").innerHTML = menuContent;
			}
			else{
				showMenu = 1;
			}

			if(showMenu) {
				document.getElementById("popup-menu").style.display = 'block';
			}
		}

		function hidePopupMenu(){
			document.getElementById("popup-menu").style.display = 'none';
		}

		function onOverlay(id) { //display image over full page
			document.getElementById("overlay").style.display = "block";
			document.getElementById("overlay-image").src = {$basePath} + "/image/show/"+ id + "?type=normal"

		};

		function offOverlay() { //hide image
			document.getElementById("overlay").style.display = "none";
		};

		$(document).ready(function() {

			$('.select2-find').select2({
                width: '220px',

                dropdownAutoWidth : true,

				ajax: {
							url: {$basePath} + "/search",
							dataType: 'json',
							data: function (params) {
								var query = {
									search: params.term,
								};
								return query;
							},
						}
						,
				minimumInputLength: 2
					}
			);
			$('.select2-find').on("select2:select", function(e) {
				window.location.href = {$basePath} +  e.params.data.id;
			});
		});
	</script>

</head>

<body>
	{php $start_time=microtime(true)}
	<div style="color: crimson" n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	<header>
		<p style="text-align: left;font-size: 28px;text-shadow: 3px 3px darkgray">&nbsp;<a style="text-decoration: none;color : black" n:href="Homepage:">EdShop</a>

		{if !$user->loggedIn}
			<span style="float:right;font-size: 14px;text-shadow:none "><a n:href="Login:login">Login</a>/<a n:href="Registration:new">Registrace</a>
			<br>
			Uživatel není přihlášen

		{/if}
		{if $user->loggedIn}
			<span style="float:right;font-size: 14px;text-shadow:none ">Přihlášen : {php echo $user->getIdentity()->username} (<a n:href="Logout:logout">Odhlásit</a>)
			<br>
				{php $isAdminUserRole = $user->isInRole("admin")}
				{if $isAdminUserRole}<a n:href="Admin:main">Administrátorské rozhraní</a>{/if}

		{/if}
		</span>
		<br>
				<span style="text-align:right;float:right;font-size: 14px;text-shadow:none; width: 100%; background: #dadada">
                Vyhledat :

				<select class="select2-find" name="find" style="width: 220px;height: 28px">
                </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

					<a n:href="Basket:">Košík</a> (
					{ifset $basketPrice}
						{$basketPrice}
					{else}
						0
					{/ifset} Kč) &nbsp;&nbsp;<a n:href="Homepage:?language=cz"><img src="{$basePath}/cz-flag-mini.jpg" style="vertical-align: text-top"></a> <a n:href="Homepage:?language=eng"><img src="{$basePath}/uk-flag-mini.jpg" style="vertical-align: text-top"></a>&nbsp;
				</span>

		</p>
	</header>

	<nav>
		<div class="popup-menu" id="popup-menu" onmouseover="showPopupMenu()" onmouseout="hidePopupMenu()">
			<li><a n:href="Homepage:products 1">Link 1</a></li>
			<li><a n:href="Homepage:products 2">Link 2</a></li>
		</div>
		<div style="float:left; width: 200px;background-color: #f0f0f0;">
		<ul class="left-menu">
			{php $elementNum = 0 }
			{foreach $category2 as $category}
				{if !$category['parent_cat_id']}
					{php $categoryObjId = $category['id']; $categotyObjName = $category['name']}

					{if isset($categoryId) && $categoryObjId== $categoryId || isset($categoryId) && isset($child_par_category[$categoryId]) && $child_par_category[$categoryId]->getId() == $categoryObjId}
						<li class="actualChoice"><a class="actualChoice" n:href="Homepage:products $categoryObjId" onmouseover="showPopupMenu({$elementNum},{$categoryObjId})" onmouseout="hidePopupMenu()">{$categotyObjName}</a></li>
					{else}
						<li><a n:href="Homepage:products $categoryObjId" onmouseover="showPopupMenu({$elementNum},{$categoryObjId})" onmouseout="hidePopupMenu()">{$categotyObjName}</a></li>
					{/if}
					{php $elementNum++}
				{/if}
			{/foreach}
		</ul>
		</div>

	</nav>

	<div style="margin-left:210px">
	{include content}
	</div>

	<footer>
		{php $stop_time=microtime(true)}
		<p style="color:silver" align="right">Created on 2019, generated in {php echo sprintf('%f',round(($stop_time - $start_time),5))." sec"}</p>
	</footer>

	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}
</body>
</html>
