<!DOCTYPE html>
<html xmlns:style="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}EdShop</title>
    <link rel="stylesheet" type="text/css" href="{$basePath}/style.css">
</head>

<body>
	{php $start_time=microtime(true)}
	<div style="color: crimson" n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	<header>
		<p style="text-align: left;font-size: 28px;text-shadow: 3px 3px darkgray"><a style="text-decoration: none;color : black" n:href="Homepage:">EdShop</a>

		{if !$user->loggedIn}
			<span style="float:right;font-size: 14px;text-shadow:none "><a n:href="Login:login">Login</a>/<a n:href="Registration:new">Registrace</a></span><br>
		{/if}
		{if $user->loggedIn}
			<span style="float:right;font-size: 14px;text-shadow:none ">Přihlášen : {php echo $user->getIdentity()->username} (<a n:href="Logout:logout">Odhlásit</a>)
			<br>
			<br>
				{php $isAdminUserRole = $user->isInRole("admin")}
				{if $isAdminUserRole}<a n:href="Admin:main">Administrátorské rozhraní</a>{/if}
			</span>
		{else}
			<span style="float:right;font-size: 14px;text-shadow:none ">Uživatel není přihlášen</span>
		{/if}
		</p>

	</header>

	<nav>
		<div style="float:left; width: 200px;background-color: #f0f0f0;">
		<ul>
			{foreach $categories as $category}
				<li><a n:href="Homepage:products $category[id]">{$category["name"]}</a></li>
			{/foreach}
		</ul>
		</div>
	</nav>

	<div style="margin-left:210px">
	{include content}
	</div>

	<footer>
		{php $stop_time=microtime(true)}
		<p style="color:silver" align="right">Created on 2019, generated in {php echo sprintf('%f',round(($stop_time - $start_time),5))." sec"}</p>
	</footer>

	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}
</body>
</html>
