{block content}



<h2><a n:href="Homepage:" style="color : #333333">Kategorie</a> / {$categoryName}</h2>

<div id="overlay" onclick="offOverlay()"><img src="#" id="overlay-image"></div>

{control objectsGrid}