parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\Router\RouterFactory::createRouter
	authenticator: App\Common\Authenticator

extensions:
	dbal: Nettrine\DBAL\DI\DbalExtension
	orm: Nettrine\ORM\DI\OrmExtension
	orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension

orm:
	entityManagerDecoratorClass: App\Model\Database\EntityManagerDecorator

orm.annotations:
	paths: []
	excludePaths: []
	ignore: []
	defaultCache: filesystem