parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\Router\RouterFactory::createRouter
	authenticator: App\Common\Authenticator
	- App\Model\ObjectManager
	- App\Model\CategoryManager
	- App\Model\UserManager