<table style="background-color: white">
    <tr style="background-color: white;width=100px;height=80px">
        <td>
            <img src="{$basePath}/image/show/{$item[id]}?type=icon" height="80" alt="Image-icon">
        </td>
    </tr>
</table>
