<table style="background-color: white">
    <tr style="background-color: white;width=60px;height=42px">
        <td>
            <img src="{$basePath}/image/show/{$item[id]}?type=icon" height="42" alt="Image-icon">
        </td>
    </tr>
</table>
