{block content}

<h1 n:block=title><a n:href="Admin:main"  style="color : #333333">{_'Administrátorské rozhraní'}</a> / {_'Editace kategorií'}</h1>

<script src="{$basePath}/js/common.js"></script>

{control adminCategoryGrid}