{block content}

<h1 n:block=title><a n:href="Admin:main"  style="color : #333333">{_'Administrátorské rozhraní'}</a> / <a n:href="Admin:orderlist"  style="color : #333333">{_'Editace objednávek'}</a> / {$id}</h1>

{control adminOrderEditGrid}