{block content}
<div id="overlay" onclick="offOverlay()"><img src="#" id="overlay-image"></div>
<h1 n:block=title><a n:href="Admin:main"  style="color : #333333">{_'Administrátorské rozhraní'}</a> / {_'Editace produktů'}</h1>

<script src="{$basePath}/js/common.js"></script>

{control adminProductGrid}