{block content}
<h2 style="color: darkslateblue" n:block=title>Registrace nového uživatele proběhla v pořádku.</h2>
<br>
Na Vámi zadanou emailovou adresu byl odeslán potvrzovací email pro dokončení registrace.